.landscape {
    width: 345px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__image-container {
        width: 100%;
        height: 180px;
        position: relative;
    }

    &__title {
        margin: 0;
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
    }

    &__details {
        padding: 20px 30px;
        text-align: left;
    }

    &__description {
        margin: 0 0 15px 0;
        font-size: 14px;
    }

    &__extra {
        display: flex;
        justify-content: space-between;
    }

    &__date {
        margin: 0;
        color: gray;
    }

    &__icon {
        width: 25px;
    }
}